body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

div.chart-container{
    position: relative;
    height: 25vw;
/*    width:80vw;*/
    background-color: white;
}

ul#preset-choice > li {
    list-style-type: none;
}

ul#preset-choice > li.selected-preset {
    list-style-type: disc;
}

.jumbotron {
    padding: 1rem 1rem !important;
}
